:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-foreground-rgb: 0, 0, 0;
  --color-accent: #C00000;
  --color-accent-rgb: 192, 0, 0;
  --color-depth-1: rgba(0, 0, 0, 0.04);
  --color-error: #ff1e12;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-foreground);
}
